---
layout: page
title: media
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 5
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h3><a class="post-title" href="{{ post.link }}">{{ post.title }}</a></h3>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
        <!-- <p>{{ post.description }}</p> -->
        <article class="post-content">
   			 {{ post.content }}
  		</article>
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}
